.form-container {
  width: 40%;
  margin: 4rem auto;
  border: 1px solid #cccccc8f;
  padding: 8px 16px;
  border-radius: 8px;
  height: calc(100vh - 8rem);
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 5px;
    height: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background: #c2c2c2;
    border-radius: 4px;
  }

  .form-content {
    .form-item {
      margin-bottom: 1rem;
    }
  }

  .form-action {
    margin-top: 1rem;

    .review {
      width: 100%;
      display: flex;
      justify-content: flex-end;
    }
  }
}